.Homepage {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
}

.Homepage .WallpaperImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Homepage .textContent {
  width: 50%;
  background: hsl(8 55% 8% / 0.4);
  backdrop-filter: blur(6px);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  padding: 2.5rem;
}

.Homepage h1, .Homepage p{
  color: var(--text);
  font-size: clamp(1.3rem, calc(0.9rem + 4.5vw), 4.8rem);
}

.Homepage p {
  font-size: clamp(0.8rem, calc(0.7rem + 1.2vw), 1.25rem);
  line-height: 1.5;
}

.Homepage hr { 
  margin-top: 8px;
  margin-bottom: 32px;
  border: none; 
  height: 3px; 
  background: linear-gradient(
    to left,
    var(--primary) 30%,
    var(--secondary)
  );
  width: 20%;
}


.Homepage .BuyBtn {
  margin-top: 48px;
  font-weight: 700;
  color: var(--text);
  background: linear-gradient(
    to left,
    var(--primary) 30%,
    var(--secondary)
  );
  padding: 8px 24px;
  border-radius: 16px;
  font-size: clamp(0.8rem, calc(0.7rem + 1.2vw), 1.25rem);
  border: 1px solid var(--border);
}

.Homepage .BuyBtn:hover {
  cursor: pointer;
  background: linear-gradient(
    to left,
    var(--primary) 50%,
    var(--secondary)
  );
}

@media (max-width: 1120px) {
  .Homepage .textContent {
    right: 48px;
    width: auto; 
  }
}