.Homepage {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.WallpaperImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textContent {
  max-width: 50%;
  background: hsl(8 55% 8% / 0.4);
  backdrop-filter: blur(6px);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  padding: 2.5rem;
}

h1, p{
  color: var(--text);
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

hr { 
  margin-top: 8px;
  margin-bottom: 32px;
  border: none; 
  height: 3px; 
  background: linear-gradient(
    to left,
    var(--primary) 30%,
    var(--secondary)
  );
  width: 20%;
}


.BuyBtn {
  margin-top: 48px;
  font-weight: 700;
  color: var(--text);
  background: linear-gradient(
    to left,
    var(--primary) 30%,
    var(--secondary)
  );
  padding: 8px 24px;
  border-radius: 16px;
  font-size: 1.5rem;
  border: 1px solid var(--border);
}

.BuyBtn:hover {
  cursor: pointer;
  background: linear-gradient(
    to left,
    var(--primary) 50%,
    var(--secondary)
  );
}